<footer ngClass="container"> 
    <h2>Contatos</h2>
   
<table ngClass="tables">
    <td>
        <tr>
            <h4><img ngClass="icons" src="assets/linkedin.png"/></h4>
        </tr>
        <tr><a target="blank" href="https://www.linkedin.com/in/d%C3%A9bora-tayn%C3%A1-98733a213/">Débora Tayná</a></tr>

    </td>
    <td>
        <tr>
            <h4><img ngClass="icons" src="assets/github.png"/></h4>
        </tr>
        <tr><a href="https://github.com/dtayna" target="blank">dtayna</a></tr>
        
    </td>
  

    <td>
        <tr>
            <h4><img ngClass="icons" src="assets/telegram.png"/></h4>
        </tr>
        <tr><a href=" t.me/dtayna" target="blank">@dtayna</a></tr>
        
    </td>
    <td>
        <tr>
            <h4><img ngClass="icons" src="assets/gmail.png"/></h4>
        </tr>
        <tr>dtayna.3194@gmail.com</tr>
        
    </td>
</table>


</footer>
