.progress-bar{
    border-radius: 10px;
    background-color: #d3d3d3;
    display: block;
    padding: 2px;
    width: 150px;
    height: 15px;
}

.progress{
    border-radius: 10px;
    background-color: #7f00b2;
    margin: 0%;
    padding: 0%;
    height: 100%;
}

.hidden{
    visibility: hidden;
}