.container{
    border: solid 1px #3c3c3c;
    padding: 20px;
    text-indent:0;
    border-radius: 10px;
    background-color: #111111;
    max-width: 300px;
    max-height: 300px;
   
}

.tumbnail{
    max-width: 300px;
    max-height: 170px;
}

h4{
    line-height: 0em;
}

a{
    line-height: 1em;
    color:#ffff56
}

